<form name="form" role="form">
  <div class="form-group">
    <label for="name">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" ng-model="Sala.Nome" required>
  </div>

  <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="!form.$valid">Salva</button>
  <button type="button" class="btn btn-danger" ng-disabled="!form.$valid || Sala.Id === undefined" ng-click="delete()">Elimina</button>
  <button type="button" class="btn btn-default" ng-click="close()">Chiudi</button>
</form>
