
<div class="col-lg-10">
  <button type="button" class="btn btn-primary" ng-click="new()">New</button>
</div>

<div class="col-lg-2">
  <input type="text" class="form-control" placeholder="Search" ng-model="query" required>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Nome
      </th>
      <th>
        Sala
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="servizio in Servizi | filter: query" ng-click="detail(servizio.Id)">
      <td>
        {{servizio.Nome}}
      </td>
      <td>
        {{servizio.Sala.Nome}}
      </td>
    </tr>
  </tbody>
</table>
